@charset "utf-8";
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* {
    padding:0;
    margin:0;
}
/* Wrapper */
.wrapper{
    width:100%;
    height:100%;
	display:table;
	position:absolute;
}
.right-sec > div {
	-webkit-animation: frombottom .5s ease-in;
	-moz-animation: frombottom .5s ease-in;
	-o-animation: frombottom .5s ease-in;
	-ms-animation: frombottom .5s ease-in;
	animation: frombottom .5s ease-in;
}

@keyframes frombottom {
    0% { opacity:0; transform: translateY(50px); }
    100% { opacity:1; transform: translateY(0px); }
}
@-moz-keyframes frombottom {
    0% { opacity:0; -moz-transform: translateY(50px); }
    100% { opacity:1; -moz-transform: translateY(0px); }
}
@-webkit-keyframes frombottom {
    0% { opacity:0; -webkit-transform: translateY(50px); }
    100% { opacity:1; -webkit-transform: translateY(0px); }
}
@-ms-keyframes frombottom {
    0% { opacity:0; -ms-transform: translateY(50px); }
    100% { opacity:1; -ms-transform: translateY(0px); }
}
@-o-keyframes frombottom {
    0% { opacity:0; -o-transform: translateY(50px); }
    100% { opacity:1; -o-transform: translateY(0px); }
}





@-webkit-keyframes fromleft {
    0% {
        opacity:0;
        -moz-transform: translateX(20px);
        -webkit-transform: translateX(20px);
        -o-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity:1;
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}
.wrapper.centeraligned{
    width:1170px;
    height:100%;
    margin:0 auto;
    position:relative;
}
.structure-table{
    display:table;
    width:100%;
    position:relative;
}
.structure-row{
    display:table-row;
    width:100%;
}
.structure-row.alone{
    display:block;
    width:100%;
}

/* Sidebar Navigation */
.wrapper aside {
    width:270px;
    display:table-cell;
    background:#323641;
    vertical-align:top;
    position:relative;
}
aside.sidebarhidden{
    width:68px;
    position:relative;
    z-index:9999;
}
aside .sidebar-in {
    width:270px;
    height:100%;
    display:block;
    position:absolute;
}
aside.sidebarhidden .sidebar-in {
    width:68px;
}
.wrapper aside .shadows {
    top:0;
    right:0;
    width:25px;
    height:100%;
    display:block;
    position:absolute;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}
aside.sidebarhidden .shadows {
    display:none;
}
.right-sec + aside .shadows {
    left:0;
    right:inherit;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Sidebar Header */
.wrapper aside header{
    width:100%;
    height:76px;
    z-index:2;
    border-bottom:#23262d solid 1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:26px 26px 0 26px;
    background: rgb(56,59,68); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4M2I0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZTJmMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(56,59,68,1) 0%, rgba(46,47,52,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,59,68,1)), color-stop(100%,rgba(46,47,52,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(56,59,68,1) 0%,rgba(46,47,52,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383b44', endColorstr='#2e2f34',GradientType=0 ); /* IE6-8 */
}

/* Logo Section */
.wrapper aside header .logo{
    float:left;
}
aside.sidebarhidden header .logo{
    display:none;
}

/* Toggle Button */
.wrapper aside header .togglemenu{
    width:26px;
    height:26px;
    float:right;
    display:block;
    background:url(../images/sprite.png) no-repeat 0 0;
}
aside.sidebarhidden header .togglemenu{
    float:left;
    margin-left:-5px;
}
.sidebarhidden nav.navigation{
    display:block;
}

/* Sidebar Navigation */
.navi-acc { 
    list-style-type: none;
    float:left;
    width:100%;
}
.navi-acc > li {
    position:relative;
    width:100%;
    float:left;
}
.navi-acc li div {
    padding: 20px;
    background: #aef;
    display: block;
    clear: both;
    float: left;
    width: 360px;
}
.navi-acc a {
    color:#9b9ba3 !important;
    display:block;
    padding:17px 20px 20px 67px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 13px;
    font-weight:bold;
    width:100%;
    position:relative;
    text-transform:uppercase;
    background:url(../images/sep.gif) repeat-x bottom transparent;
}
aside.sidebarhidden .navi-acc a {
    padding-left:0;
    padding-right:0;
    text-indent:-9999px;
}
.navi-acc li a:before {
    content:"";
    position:absolute;
    left:26px;
    display:inline-block;
    background:url(../images/sprite.png) no-repeat;
}
.sidebarhidden .navi-acc li a:before {
    left:23px;
}
.navi-acc li a.dashboard:before {
    background-position:0px -26px;
    width:22px;
    height:22px;
    top:16px;
}
.navi-acc li a.dashboard:hover:before, .navi-acc li.active a.dashboard:before {
    background-position:-27px -26px;
}
.navi-acc li a.layouts:before {
    background-position:0px -48px;
    width:20px;
    height:20px;
    top:17px;
}
.navi-acc li a.layouts:hover:before, .navi-acc li.active a.layouts:before {
    background-position:-27px -48px;
}
.navi-acc li a.ui-elements:before {
    background-position:0 -69px;
    width:20px;
    height:20px;
    top:17px;
}
.navi-acc li a.ui-elements:hover:before, .navi-acc li.active a.ui-elements:before {
    background-position:-27px -69px;
}
.navi-acc li a.mailbox:before {
    background-position:0px -111px;
    width:24px;
    height:15px;
    top:19px;
}
.navi-acc li a.mailbox:hover:before, .navi-acc li.active a.mailbox:before {
    background-position:-27px -111px;
}
.navi-acc li a.forms:before {
    background-position:0px -127px;
    width:24px;
    height:20px;
    top:16px;
}
.navi-acc li a.forms:hover:before, .navi-acc li.active a.forms:before {
    background-position:-27px -127px;
}
.navi-acc li a.pages:before {
    background-position:0px -148px;
    width:20px;
    height:20px;
    top:17px;
}
.navi-acc li a.pages:hover:before, .navi-acc li.active a.pages:before {
    background-position:-27px -148px;
}
.navi-acc li a.charts:before {
    background-position:0px -90px;
    width:20px;
    height:20px;
    top:16px;
}
.navi-acc li a.charts:hover:before, .navi-acc li.active a.charts:before {
    background-position:-27px -90px;
}
.navi-acc li a.extras:before {
    background-position:0 -169px;
    width:20px;
    height:19px;
    top:17px;
}
.navi-acc li a.extras:hover:before, .navi-acc li.active a.extras:before {
    background-position:-27px -169px;
}
.navi-acc li a.loginoptions:before {
    background-position:0 -189px;
    width:22px;
    height:22px;
    top:15px;
}
.navi-acc li a.loginoptions:hover:before, .navi-acc li.active a.loginoptions:before {
    background-position:-27px -189px;
}
.navi-acc li a.maps:before {
    background-position:-2px -212px;
    width:18px;
    height:25px;
    top:14px;
}
.navi-acc li a.maps:hover:before, .navi-acc li.active a.maps:before {
    background-position:-29px -212px;
}
.navi-acc li.active > a, .navi-acc li a {
    -webkit-transition: background-color 1000ms ease;
    -moz-transition: background-color 1000ms ease;
    -ms-transition: background-color 1000ms ease;
    -o-transition: background-color 1000ms ease;
    transition: background-color 1000ms ease;
}
.navi-acc li.active > a, .navi-acc li:hover > a {
    color:#54acc0 !important;
    background-color:#1e202c;
}
.navi-acc li.active > a {
    background:#1e202c;
}
.navi-acc .label{
    position:absolute;
    right:26px;
    top:20px;
}
.sidebarhidden .label{
    display:none;
}

/* Level 2 */
.navi-acc li ul { 
    background: #222430;
    padding:10px 0;
    margin:0;
    list-style:none;
}
aside.sidebarhidden .navi-acc li ul { 
    left: 68px;
    top:0;
    display:none !important;
    position: absolute;
    text-indent: inherit;
    width: 200px;
}
aside.sidebarhidden .navi-acc li.active ul { 
    display:block !important;
}
.right-sec + aside.sidebarhidden .navi-acc li ul {
    left:auto;
    right:68px;
}
aside.sidebarhidden .navi-acc li ul a{ 
    padding-left:20px;
}
aside.sidebarhidden .navi-acc li:hover ul { 
    display: block !important;
}
aside.sidebarhidden .navi-acc li ul li a {
    text-indent:inherit;
}
.navi-acc li ul li a {
    padding:7px 26px 8px 26px;
    font-size: 13px;
    font-weight:normal;
    text-transform:none;
    background:none;
}
.navi-acc li ul li:hover a {
    background:#181922;
    color:#FFF !important;
}